/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
   text-wrap: pretty; 
 /* max-width: 55ch;  */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}






/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}






/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* ===== Header ===== */
.header {
  background: var(--clr-primary-light-1);
  box-shadow: var(--border-shadow);



.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  font-size: var(--fs-500);
  font-weight: var(--fw-600);



    >.logo {
    display: flex;
    align-items: center;   
    gap: 0.55rem;
    color: var(--clr-accent); 
    font-weight: var(--fw-bold);
        text-decoration: none;

        &:hover {
        text-decoration: none;
        }
    
        >.logo-icon {
        inline-size: 46px;
        block-size: 46px;
        }

        >.logo-text {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        font-size: var(--fs-300);
        white-space: nowrap;
        gap: 0.15rem;
        }

    
    }

    /* ===== Navigation ===== */
  > .nav-list {
      display: flex;
      gap: 2.5rem;

      a {
        padding-bottom: 2px;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus-visible {
          background-color: var(--clr-accent);
          color: var(--clr-primary-light-1);
          text-decoration: none;
        }
      }
    }
  }
}



@media (max-width: 769px) {
  .header {
    .nav {
      display: grid;
      grid-template-columns: auto 1fr;

      > .logo {
        align-self: start;
      }

      > .nav-list {
        grid-column: span 2;
        margin-top: 1.5rem;

        flex-direction: column;
        align-items: center;
        gap: 1rem;

        li:first-child {
          display: none;
        }
      }
    }

    .logo-text {
      display: felx;
    }
  }
}




/*__________ gallery_______________________  */

/* Kolumner och rader i galleriet */

.col,
.row-1,
.row-2 {
  min-height: 0; 
}

.gallery-grid img {  
  min-height: 0;
} 


.gallery {    /* Wrapper runt hela galleriet */
  display: block; 
  max-width: 70rem;     /* Maxbredd för innehållet */
  margin: 0 auto;     /* centrerar galleriet horisontellt */
  padding: 1rem;
  text-align: center;     /* centrerar text */
  
 
}


.gallery h2 {
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  font-size: var(--fs-700);
  color: var(--clr-primary-dark);
  text-align: center;
  margin-top: var(--flow-space);

}

.gallery > p {
  max-width: 60ch;         /* Begränsar radlängden */
  margin-inline: auto;   
  font-size:  var(--fs-500);
  color: var(--clr-primary);
  margin-block: var(  --flow-space);  /* Avstånd upp och ner */

}




 .gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  /* Tre lika breda kolumner */
  gap: 0rem;
  align-items: stretch;  
  aspect-ratio: 3 / 1.5;   /* Fast proportion för hela galleriet */
  border: 1rem solid var(--clr-neutral-100); 
  box-sizing: border-box;

}


.col {
  display: grid;  /* Varje kolumn är också ett grid */
 
}


.col-1 {
  grid-template-rows: 1fr;  /* Första kolumnen – en bild */
}


.col-2 {
  grid-template-rows: 1fr 1fr;  /* Andra kolumnen – två  lika höga rader */
}


.col-3 {
  grid-template-rows: 1fr 1fr; /* Tredje kolumnen – två  lika höga rader */
}


.col-2 .row-1 {  /* Första raden i kolumn 2 har två bilder bredvid varandra */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Två kolumner */

}


.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  display: block;
}  

@media (max-width: 769px) {

  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    aspect-ratio: unset;   /* Tar bort fast proportion */
  }

   /* Tar bort kolumn- och rad-strukturen */
  .gallery-grid .col,
  .gallery-grid .row-1,
  .gallery-grid .row-2 {
    display: contents;  /* Låter bilderna flyta fritt i gridet */
  } 

  
  .gallery-grid img {
    width: 100%;
    height: auto;      
    aspect-ratio: 1 / 1;    /* Fyrkantiga bilder */
    object-fit: cover;
    display: block;
  }

}

@media (min-width: 770px) and (max-width: 1024px) {

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);   
    gap: 0;
    aspect-ratio: unset;               
  }

  .gallery-grid .col,
  .gallery-grid .row-1,
  .gallery-grid .row-2 {
    display: contents;
  }

  .gallery-grid img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;   
    object-fit: cover;
    display: block;
  }
}


/* .col,
.row-1,
.row-2 {
  min-height: 0;
}


.gallery {
  display: block; 
  max-width: 70rem;   
  margin: 0 auto;     
  padding: 1rem;
  text-align: center;

  >h2 {
 font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  font-size: var(--fs-700);
  color: var(--clr-primary-dark);
  text-align: center;
  margin-top: var(--flow-space);
  }

  > p {
  max-width: 60ch;        
  margin-inline: auto;   
  font-size:  var(--fs-500);
  color: var(--clr-primary);
  margin-block: var(  --flow-space);
  }
}


.gallery-grid {
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
  align-items: stretch;
  aspect-ratio: 3 / 1.5;
  border: 1rem solid var(--clr-neutral-100); 
  box-sizing: border-box;

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    display: block;
    min-height: 0;
  }

  .col {
    display: grid;

    &.col-1 {
      grid-template-rows: 1fr;
    }

    &.col-2,
    &.col-3 {
        grid-template-rows: 1fr 1fr;
    }

    &.col-2 {
      .row-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }


@media (max-width: 769px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    aspect-ratio: unset;   
  }

 
  .gallery-grid .col,
  .gallery-grid .row-1,
  .gallery-grid .row-2 {
    display: contents;
  } 

  
  .gallery-grid img {
    width: 100%;
    height: auto;      
    aspect-ratio: 1 / 1;   
    object-fit: cover;
    display: block;
  }
} 

}  */



/* ==================== Subscribe ================================================================== */
.subscribe-parent {                         /* Wrapper som ger bakgrund till hela subscribe-delen */
  background-color: var(--clr-primary-light-1);

  .subscribe-section {
    display: flex;          /* Lägger innehållet i rad */
    align-items: center;        /* Centrerar vertikalt */
    justify-content: space-between;    /* Text vänster, ikon höger */
    gap: 1.5rem;
    padding: 3rem;
    padding-inline: 14rem;
    padding-block: 3rem;
  }

  .subscribe-content {     /* Textinnehållet */
    display: flex; 
    flex-direction: column;      /* Innehållet staplas vertikalt */
    gap: 1rem; 
    max-width: 420px;            /* Begränsar bredden */
    position: relative;

    h2 {
      font-size: var(--fs-700);
      font-weight: var(--fw-bold);
      color: var(--clr-primary-dark);
    }

    p {
      font-size: var(--fs-400);
      color: var(--clr-primary);
      max-width: 45ch;
    }
  }

  .subscribe-form {         /* Formulär: input + knapp */
    display: flex;          /* Input och knapp i samma rad */
    align-items: center;
    color: var(--clr-primary-light-1);
    border-radius: 999px;
    padding: 0.2rem;
    border: 1px solid var(--clr-neutral-200);
    max-width: 680px;

    &:focus-within {   /*  när input är aktiv (click) */
      border-color: var(--clr-primary-dark);
    }

    input {          /* Inputfält för e-post */
      flex: 1;   /* Tar all ledig plats */
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      font-size: 1rem;
      background: transparent;
    }

    button {         /* Skicka-knapp */
      border: none;
      background: var(--clr-accent);
      color: var(--clr-primary-light-1);
      padding: 0.75rem 1.4rem;
      border-radius: 999px;
      font-weight: var(--fw-bold);
      cursor: pointer;
    }
  }

  .subscribe-icon {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: var(--clr-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;          /* Förhindrar att ikonen krymper */

    img {                /* Ikon-bild */
      width: 100px;
      height: 100px;
    }
  }

  .btn-primary {
    align-self: flex-start;
    display: inline-block;
    padding: 0.6rem 1.4rem;
    background: var(--clr-accent);
    color: var(--clr-primary-light-1);
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    border-radius: 999px;
    text-decoration: none;
    align-self: flex-end;

    &:hover {
      opacity: 0.9;
    }
  }
}





@media (max-width: 769px) {
  .subscribe-parent {
    .subscribe-section {
      padding: 1.5rem;
      padding-inline: 1rem;
      width: 100%;
      flex-direction: column;
      text-align: center;
    }

    .subscribe-content {
      max-width: 100%;
      align-items: center;
      text-align: center;

      h2 {
        text-wrap: wrap;
        max-width: 22ch;
      }
    }

    .subscribe-form {
      width: 100%;
      max-width: 100%;

      input {
        font-size: 0.9rem;
      }
    }

    .subscribe-icon {
      order: -1;
    }

    .btn-primary {
      align-self: center;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .subscribe-parent {
    .subscribe-section {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 2.5rem 2rem;
      gap: 1rem;
    }

    .subscribe-content {
      max-width: 480px;
      text-align: left;
      align-items: flex-start;

      h2 {
        font-size: 1.75rem;
        line-height: 1.2;
        text-wrap: wrap;
        max-width: 22ch;
      }
    }

    .subscribe-form {
      max-width: 420px;
    }

    .subscribe-icon {
      width: 160px;
      height: 160px;

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}





/*
========== ALLA våra växter (PLANTS SECTION)===========================
*/


.plants {
  padding-block: 1rem;  /* Avstånd upp och ner runt hela sektionen */

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .plants-grid {  /* Grid som håller alla plant-cards */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));   /* grid som anpassar antal kolumner automatiskt */

    grid-auto-rows:   /* Definierar radernas struktur(height) */
      auto   /* image */
      auto   /* tags */
      auto   /* title */
      1fr    /* text */
      auto;  /* footer */

    gap: 1rem;   /* Avstånd mellan korten */
  }

  .plant-card {   /* Ett enskilt kort */
    display: grid;
    grid-template-rows: subgrid;    /* Kortet använder samma radstruktur som sitt parent */
    grid-row: span 5;               /* Kortet sträcker sig över 5 rader */
    grid-template-areas:            /* Definierar innehållets */
      "image"
      "tags"
      "title"
      "text"
      "footer";

    padding: 0.7rem;
    background: var(--clr-primary-light-1);
    box-shadow: var(--border-shadow);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

   &:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
  }

    h3 {
      grid-row: title;
    }

    p {
      grid-row: text;
    }
  }

  /****
   =CARD =
  *********/

  .plant-image {        /* Image */
    grid-row: image;    /* Placerar bilden i rätt rad */
    aspect-ratio: 1 / 1.1; /* Bilden är lite högre än bred */
    overflow: hidden;   /* Döljer bilddelar utanför boxen */
    position: relative;

    img {
      width: 100%;      /* Fyller hela bredden */
      height: 100%;
      object-fit: cover; /* Beskär bilden utan att förvränga */
    }

    .plant-watermark {
      position: absolute;  /* placerar watermark ovanpå bilden */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      svg {
        width: 90px;   /* Storlek på ikonen */
        height: auto;
        opacity: 0.3;
      }
    }
  }

  .plant-tags {          /* Container för taggar */
    grid-row: tags;
    display: flex;
    flex-wrap: wrap;     /* Radbryter vid behov */
    gap: 0.3rem;

    .tag {               /* Enskild tag */
      background: var(--clr-accent);
      color: var(--clr-primary-light-1);
      font-size: var(--fs-200);
      padding: 0.25rem 0.6rem;
      border-radius: 999px;
    }
  }

  .card-footer {         /* Ligger längst ner i kortet */
    grid-row: footer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: var(--fs-300);
    color: var(--clr-primary);

    .avatar-icon {       /* Avatar-cirkel */
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: var(--clr-neutral-200);
      border: 1.5px solid var(--clr-primary-dark);

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding-top: 8px;

      svg {
        width: 38px;
        fill: black;
        display: block;
      }
    }

    .author-info {       /* Text bredvid avatar */
      display: flex;
      flex-direction: column;

      span:first-child { /* Författarens namn */
        color: var(--clr-accent);
        font-weight: var(--fw-600);
      }

      .author-date {     /* Datum */
        font-size: var(--fs-200);
        color: var(--clr-primary);
      }
    }
  }
}


@media (max-width: 768px) {
  .plants {
    .plants-grid {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}



/**********************************
 FOOTER
**********************************/

/* Tomt mellanrum ovanför footern för visuell separation */
.footer-line {
  height: 4rem;
  background: var(--clr-accent-light-1);
}

/* footern längst ner på sidan */
.footer {
  background: var(--clr-accent);
  color: var(--clr-primary-light-1);

  .footer-content {        /* Innehållet i footern */
    padding-block: 4rem;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;   /* Vänster del 2fr och större än höger som är 1 fr */
    gap: 4rem;
  }

  .footer-left {
    h3 {                   /* Rubrik i vänstra delen av footern */
      font-size: var(--fs-900);
      font-weight: var(--fw-bold);
      margin-bottom: var(--spacing-base);
    }

    p {
      font-size: var(--fs-400);
      line-height: 1.6;
      max-width: 64ch;
      padding-top: 1rem;

      
    }

    .footer-contact {
      margin-top: var(--flow-space);   /* Avstånd ovanför kontakttexten */
      font-size: var(--fs-400);
      font-weight: var(--fw-700);

    }
  }

  .footer-nav {
    justify-self: end;     /* Flyttar innehållet till höger */

    .footer-links {
      display: flex;            /* Flexbox-layout */
      flex-direction: column;   /* Länkar staplas vertikalt */
      gap: var(--flow-space);
      padding-top: 3rem;

      a {
        color: var(--clr-primary-light-1);
        font-size: var(--fs-400);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

 
  @media (max-width: 769px) {
    p {
      min-width: 36ch; /* Sätter min-width för text */
    }

    .footer-links {
      display: none; /* Döljer länkar på mobil */
    }

    .footer-grid {
    
      .footer-links {
         display: none; 
      }
    }
  }


}



/* Skip link för skärmeläsare*/

a.skiplink {
   display: inline-block;
   color: var(--clr-neutral-300);
    color: var(--clr-primary-light-1);
   padding: .5em;
   position: absolute;
   left: -99999rem;
   z-index: 100;   /* Ligger över andra element */
}
/* Skip link visas när man tabbar */
a.skiplink:focus {
   left: 0;
}

